*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    font-family: 'Magical', Helvetica, sans-serif;
    font-size: 140%;
}

.titulo {
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
}

.cabecalho h1 {
    padding-left: 10px;
    padding-top: 50px;
    font-size: 70px;
}

.cabecalho img {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.abas_de_navegacao {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

.nav_tabs {
    width: 100%;
    height: 800px;
    margin: 100px 0px;
    background-color: #fff;
    position: relative;
    margin-top: 2%;
}

.lista_mae {
    list-style: none;
    height: 75px;
    background-color: black;
}

.nav_tabs ul li {
    float: left;
}

.nav_tabs label{
    width: 100%;
    justify-content: space-between;
    margin-left: 40px;
    background-color: black;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-family: 'Autography', Courier, monospace;
    font-size: 40px;
}

.rd_tabs:checked ~ label{
    background-color: dimgray;
}

.rd_tabs{
    display: none;
}

.content{
    border-top: 5px solid dimgray;
    background-color: #fff;
    display: none;
    position: absolute;
    height: 320px;
    width: 100%;
    left: 0px;
}

.formulario {
    font-family: 'Courier New', Courier, monospace;
}

.content article{
    padding: 10px;
}

.rd_tabs:checked ~ .content{
    display: block;
}
.acima {
    -webkit-animation: colorchange 20s infinite; 
    animation: colorchange 20s infinite;
    border-color: black;
    border-width: 2px;
    border-style: groove;  
    padding-left: 30px;
}
@-webkit-keyframes colorchange {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;} 
}
@keyframes colorchange {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;} 
}
body img{
    width: 250px;
    height: 250px;
    border-color: black;
    border-width: 2px;
    border-style:groove;
}

@font-face {
    font-family: 'Magical';
    src: url('Fonte/MagicalMystery.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Autography';
    src: url('Fonte/Autography.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

.item_menu {
    position: relative;
    display: inline;
}

.link_menu {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
}

.link_menu:hover {
    color: white;
    text-decoration: underline;
}

.centro {
    position: relative;
}

.lista {
    margin: 0px;
    padding-left: 7%;
    text-align: center;
}

.lista li {
    display:  inline-block;
    padding: 50px 20px;
    margin-left: 50px;
    vertical-align: top;
    border-color: black;
    border-width: 2px;
    border-style:groove;
}

.lista li:hover {
    border-color: teal;
}

.lista li:hover h2 {
    font-size: 25px;
}

.lista h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}

.lista p {
    text-align: justify;
    width: 400px;
    padding: 5px 0;
}

.rodape {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
}