.acima {
    -webkit-animation: colorchange 20s infinite; 
    animation: colorchange 20s infinite;
    border-color: black;
    border-width: 2px;
    border-style:groove;  
    padding-left: 30px;
}
@-webkit-keyframes colorchange {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;} 
}
@keyframes colorchange {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;} 
}
body img{
    width: 300px;
    border-color: black;
    border-width: 2px;
    border-style:groove;
}
.rodape {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}