.acima {
    -webkit-animation: colorchange 20s infinite; 
    animation: colorchange 20s infinite;
    border-color: black;
    border-width: 2px;
    border-style:groove; 
    padding-left: 30px;
}

.corpo {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.titulo {
    padding-left: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@-webkit-keyframes colorchange {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;} 
}
@keyframes colorchange {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;} 
}
.rodape {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}